
/* Basic reset and body styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: #333333;
    line-height: 1.6;
}

/* Header styles */
header {
    text-align: center;
    padding: 50px 0;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    color: #66BFBF;
}

h2 {
    font-size: 2em;
    color: #45B29A;
}

h3 {
    font-size: 1.5em;
    color: #45B29A;
}

/* Span styling for the "pro" text */
span {
    text-decoration: underline;
    color: #FF6B6B;
}

/* Paragraph styling */
p {
    font-size: 1.1em;
    color: #40514E;
}

/* Section styling */
.about-me, .my-skills, .contact-me {
    padding: 30px;
    text-align: center;
}

/* Footer styling */
footer {
    background-color: #66BFBF;
    padding: 20px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

footer p {
    color: white;
    margin-top: 20px;
}

/* Button styling */
button {
    font-family: 'Nunito', sans-serif;
    background-color: #66BFBF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

button:hover {
    background-color: #45B29A;
}

